{% extends  'Home/base.html'%}
{% load static from staticfiles%}
{% load crispy_forms_tags %}
{% block style%}
<link rel="stylesheet" type="text/css" href="{% static 'css/stripe.css' %}">
{% endblock%}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 checkwall">
            <img src="{% static 'img/carseries.jpg' %} ">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 checkform">

            <div class="col-md-3 subout ">

            </div>
            <div class="col-md-6 col-xs-12 mainout quickhire">
                <div class="mainout-header">
                   <center> <h3 style="color: #b0b0b0;">COMPLETE HIRE</h3></center>
                </div>
                <div class="row">
               <div class="totalcol">
                   <div class="coltitle">
                   		<div class="col-md-6">
                   		<p style="font-family:'Heebo', sans-serif; font-size:15px; margin-left:20px; margin-top:10px; font-weight:bold;"> {{rents}} Car(s) in bookings  </p>
                   		</div>
                   		<div class="col-md-6">
                        <div class="estimated">
                        <p style="font-family:'Heebo', sans-serif; font-size:15px; margin-left:20px; margin-top:10px; font-weight:bold; display:inline-block;">Estimated total</p>
                         <h5 style="font-family:'Heebo', sans-serif; font-size:15px; display:inline-block; margin-top:10px; font-weight:bold;">&#8358;<span class="total">{{order.order_total}}</span></h5>
                         <input class="chek-email" type="hidden" value="{{request.user.email}}">
                         <input class="chek-id" type="hidden" value="{{order.id}}">
                   </div>
                   		</div>


                   </div>

                   <div class="colcontent col-md-12">
                        <center>
                         <div class="col-md-12" style="margin-top:5px;">
                           <div class="wrapper">
                           	<form class="formcol form-inline" id="payment-form" method="post" action="{% url 'order_create' %}" >
                           		{%csrf_token%}
                             <div class="col-md-12 pads" id="pickup-form" data-pickup-url="{% url 'pickup' %}">
                             	<div class="col-md-4">
                             		<label for="pickup"> Delivery Type </label>
                             	</div>
                             	 <div class="col-md-8">
                             	 <select name="pickup" id="pickup" class="form-control formcol2">
                             	 	<option>---------------------------</option>
                                     <option value="pick">Personal pickup Free</option>
                                     <option value="deliver">Delivery</option>
                                </select>
                             	 </div>
                             </div>

							<input type="hidden" name="order_total" value="{{order.order_total}}">
                             <div class="col-md-12 pads">
                             	<div class="row new-form">


                                </div>
                             </div>
                             <div  class="col-md-12 pads">
                             <!-- {% comment %} <a class="flwpug_getpaid" 
  data-PBFPubKey="FLWPUBK_TEST-893967261e333ea291432397b498669b-X" 
  data-txref="rave-123456" 
  data-amount="2000" 
  data-customer_email="user@example.com" 
  data-currency="NGN" 
  data-pay_button_text="Pay Now" 
  data-country="NG" 
  data-redirect_url="https://your-website.com/urlredirect"></a> {% endcomment %} -->
                              <div id="paystackEmbedContainer"></div>  
                              
                               
                              </div>
                             </div>
                         </form>
                          	</div>
                         </div>
                         <!--<div id="stripe-token-handler" class="is-hidden"><span class="token"></span>

                         </div>-->
                             </center>
               </div>
                </div>
                </div>

<!--                <div class="lastout">
                    <div class="lastheader">
                        <h5 style="color: #b0b0b0; font-weight: bold;">ESTIMATION</h5>
                    </div>
                    <h6>ADAMS TEMIDIRE</h6>
                    <h6>54, Prince Fadina Street Ota Ogun State</h6>
                </div>-->


            </div>

            <div class="col-md-2">

            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts%}
<script src="{% static 'js/jquery.js' %}"></script>
<!-- <script type="text/javascript" src="https://api.ravepay.co/flwv3-pug/getpaidx/api/flwpbf-inline.js"></script> -->
<!--<script src="https://js.stripe.com/v3/"></script>-->
 <script src="https://js.paystack.co/v1/inline.js"></script> 

<script>
    $("#pickup").change(function () {
      var url = $("#pickup-form").attr("data-pickup-url");
      var pickUp = $(this).val();
      console.log(pickUp);
      $.ajax({
        url: url,
        data: {
          'pickup': pickUp
        },
        success: function (data) {
          $(".new-form").html(data);
        }
      });

    });
    let total= $('.total').text() *100
    let email=$('.chek-email').attr('value')
    let id=$('.chek-id').attr('value')
    PaystackPop.setup({
      key: 'pk_live_c9c0027d3cde4332b3a2245c4594e1468f7f8e97',
      email:email,
      amount:total,
      container:'paystackEmbedContainer',
      callback:function(response){
        // alert('succesful payment '+response.reference)
        $.ajax({
            url:"update_order/",
            data:{
                'order_id':id,
                // 'refrence':response.reference
            },
            success:function(data){
                alert(data)
            }
        });
      },
    });
    // const API_publicKey = "FLWPUBK_TEST-893967261e333ea291432397b498669b-X";

    // function payWithRave() {
    //     var x = getpaidSetup({
    //         PBFPubKey: API_publicKey,
    //         customer_email: "user@example.com",
    //         amount: 2000,
    //         customer_phone: "234099940409",
    //         currency: "NGN",
    //         txref: "rave-123456",
    //         meta: [{
    //             metaname: "flightID",
    //             metavalue: "AP1234"
    //         }],
    //         onclose: function() {},
    //         callback: function(response) {
    //             var txref = response.tx.txRef; // collect txRef returned and pass to a          server page to complete status check.
    //             console.log("This is the response returned after a charge", response);
    //             if (
    //                 response.tx.chargeResponseCode == "00" ||
    //                 response.tx.chargeResponseCode == "0"
    //             ) {
    //                 alert("success")
    //             } else {
    //                alert("failed")
    //             }

    //             x.close(); // use this to close the modal immediately after payment.
    //         }
    //     });
    // }


</script>
{% endblock%}