{%extends 'Home/signbase.html'%}

{% block content%}
<body class="adminbody">

<div class="sidenav">

</div>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
            
            </div>
            
            <div class="col-md-4">
                <center><div class="adheader">
                    <p>SOAR ADMIN</p>
                </div></center>
            </div>
            
            <div class="col-md-4 ">
            	<div class="adlink">
            	<p class="text-danger">Welcome</p>
            	<p class="text-danger">{{request.user.username}} </p>/
            	<a class="text-light"href="{% url 'index' %}">Home</a>/
            	<a class="text-light"href="{% url 'logout' %}">Logout</a>
            	</div>
            </div>                
        </div>
    </div>
</div>

<div class="container thirdrow">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3 ">
                <div class="just col1">
                    <div class="forcol">
                        <center><h4><i style="  font-size: 60px; padding-top: 0px; display: inline-block;" class="la la-users"></i></h4></center>
                        <center><h4 style="display: inline-block">All Users</h4></center>
                        <center><h2>100</h2></center>
                    </div>
                    <center><a href="allusers.html"><button style="margin-top: 20px;" class="btn carbutton btn-danger">View</button></a></center>
                </div>
            </div>

          

            <div class="col-md-3 ">
                <div class="just col1">
                    <div class="forcol">
                        <center> <h4><i style="font-size: 60px; padding-top: 0px; display: inline-block;" class="la la-file"></i></h4></center>
                        <center><h4 style="display: inline-block">Reciept</h4></center>
                        <center><h2>100</h2></center>
                    </div>
                    <center><a href="reciepts.html"><button style="margin-top: 20px;" class="btn carbutton btn-danger">View</button></a></center>
                </div>
            </div>


            <div class="col-md-3">
                <div class="just col1">
                    <div class="forcol">
                        <center> <h4><i style="  font-size: 60px; padding-top: 0px; display: inline-block;" class="la la-car"></i></h4></center>
                        <center><h4 style="display: inline-block">Transactions</h4></center>
                        <center><h2>100</h2></center>
                    </div>
                        <center><a href="transaction.html"><button style="margin-top: 20px;" class="btn carbutton btn-danger">View</button></a></center>
                </div>
            </div>
            
            <div class="col-md-3">
                <div class="just col1">
                    <div class="forcol">
                        <center> <h4><i style="  font-size: 60px; padding-top: 0px; display: inline-block;" class="la la-car"></i></h4></center>
                        <center><h4 style="display: inline-block">Add Car</h4></center>
                        <center><h2>100</h2></center>
                    </div>
                    <center><a href="addcar.html"><button style="margin-top: 20px;" class="btn carbutton btn-danger">Add</button></a></center>
                </div>
            </div>
          
        </div>
    </div>
</div>


<div class="container justa">
    <div class="row">
        <div class="col-md-12">


            <div class="col-md-3">
                <div class="just col1">
                    <div class="forcol">
                        <center> <h4><i style="  font-size: 60px; padding-top: 0px; display: inline-block;" class="la la-car"></i></h4></center>
                        <center><h4 style="display: inline-block">Cars Available</h4></center>
                        <center><h2>100</h2></center>
                    </div>
                    <center><a href="carsavailable.html"><button style="margin-top: 20px;" class="btn carbutton btn-danger">Views</button></a></center>
                </div>
            </div>

        
            <div class="col-md-3">
                <div class="just col1">
                    <div class="forcol">
                        <center> <h4><i style="  font-size: 60px; padding-top: 0px; display: inline-block;" class="la la-car"></i></h4></center>
                        <center><h4 style="display: inline-block">Cars Out</h4></center>
                        <center><h2>100</h2></center>
                    </div>
                        <center><button style="margin-top: 20px;" class="btn carbutton btn-danger">View</button></center>
                </div>
            </div>


        </div>
    </div>
</div>

{% endblock%}