{% load static from staticfiles%}
<html>
<head>
    <title>Transport</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="height=device-height,width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no, target-densitydpi=device-dpi">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/ScrollMagic.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
     <link rel="stylesheet" href="{% static 'css/line-awesome.css' %}">
     {% block style%}
     {% endblock%}
</head>

        <script type="text/javascript">
        $(function() {
            $('.scroll-down').click (function() {
                $('html, body').animate({scrollTop: $('.newp').offset().top }, 'slow');
                return false;
            });
        });

        /*navbar*/
        // $(window).scroll(function(){
        //     var ScrollTop = parseInt($(window).scrollTop());

        //     if (ScrollTop > 0) {
        //         $(".navbar").addClass("addnavbar");
        //     }

        //     else
        //     {
        //         $(".navbar").removeClass("addnavbar")
        //     }
        // }); 

        $(window).on('scroll', function(){
          if($(window).scrollTop()){
              $('nav').addClass('black');
          }

          else
          {
              $('nav').removeClass('black');
          }
       });
    </script>


{%block script%}

{%endblock%}

<body>
    <nav class="hidden-xs">
    <div class="logo">
        <div class="container">
            <a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}"></a>
            <button style="margin-top: 20px;" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#textwrap">
                <span  class="sr-only">Toggle Navigation</span>
                <span style="background-color:red;" class="icon-bar"></span>
                <span style="background-color:red;" class="icon-bar"></span>
                <span style="background-color:red;" class="icon-bar"></span>
            </button>

                <ul class="collapse navbar-collapse" id="textwrap">
                <li><a href="{% url 'index' %}" class="{%if request.path == '/'%}active{% endif %}">Home</a></li>
                <li><a href="{% url 'auto' %}" class="{%if request.path == '/Transport/Autos/' %}active{% endif %}" >Services</a></li>
                {% if user.is_authenticated%}
                <li><a href="{% url 'cart_home' %}" class="{%if request.path == '/Cart/' %}active{% endif %}">Cart</a></li>
                <li class="dropdown">
                   <a class="dropdown-toggle " data-toggle="dropdown" href="#"> {{request.user.username}}
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                       <li><a href="{% url 'dashboard' %}">Dashboard</a></li>  
                      {% if user.is_staff%}
                        <li><a href="{% url 'auto_admin' %}">Admin</a></li>
                      {%endif%}
                      <li><a href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </li>
                
                
                 {% else %}
                 {# <li><a href="aboutus.html">About us</a></li> #}
                <li><a href="{% url 'contact' %}"class="{%if request.path == '/contact/' %}active{% endif %}">Contact us</a></li>
                     <div class="btn-group">
                      <button type="button" class="btn btn-primary"><a style="color:white;" href="{% url 'account_login' %}?next={{request.path}}">Login</a></button>
                      <button type="button" class="btn btn-danger"><a style="color:white;" href="{% url 'account_signup' %}?next={{request.path}}">SignUp</a></button>
                    </div>
                
                 {% endif %}
                </ul>  
        </div>        
    </div>
</nav>
 <nav class="navbar navbar-fixed-top hidden-lg hidden-md hidden-sm">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     <a class="navbar-left" style="padding-top:15px;" href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}"></a>
    </div>
    <div class="collapse navbar-collapse center" id="myNavbar">
      <ul class="nav navbar-nav ">
        <li><a href="{% url 'index' %}" class="{%if request.path == '/'%}active{% endif %}">Home</a></li>
                <li><a href="{% url 'auto' %}" class="{%if request.path == '/Transport/Autos/' %}active{% endif %}" >Services</a></li>
                {% if user.is_authenticated%}
                <li><a href="{% url 'cart_home' %}" class="{%if request.path == '/Cart/' %}active{% endif %}">Cart</a></li>
                <li class="dropdown ">
                   <p class="text-danger"> Welcome</p><a class="dropdown-toggle " data-toggle="dropdown" href="#"> {{request.user.username}}
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu center">
                    <li><a href="{% url 'dashboard' %}">Dashboard</a></li> 
                     {% if user.is_staff%}
                    <li><a href="{% url 'auto_admin' %}">Admin</a></li>
                    {%endif%}
                      <li><a href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </li>
                
               
                 {% else %}
                 <li><a href="aboutus.html">About us</a></li>
                <li><a href="{% url 'contact' %}"class="{%if request.path == '/contact/' %}active{% endif %}">Contact us</a></li>             <div class="btn-group">
                      <button type="button" class="btn btn-primary"><a style="color:white;" href="{% url 'account_login' %}?next={{request.path}}">Login</a></button>
                      <button type="button" class="btn btn-danger"><a style="color:white;" href="{% url 'account_signup' %}?next={{request.path}}">SignUp</a></button>
                    </div>
                
                 {% endif %}
      </ul>
    </div>
  </div>
</nav>

{% block content%}

{%endblock%}


<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 panel-foot">
         <div class="col-md-5 footcol1">   
           <div class="foottitle ">
              <center>Sign Up For Our Newsletter</center>
           </div>

           <input class="inputfoot" type="text" placeholder="enter your mail" >
         </div>

         <div class="col-md-2"> 
           <div class="foottitle2">
              <center>Our Services</center>
           </div>

          <a href=""><p style="margin-top:20px; margin-left: 40px; color:#ffffff;">Ride Personal Use</p></a>
          <a href=""><p style="margin-top:10px; margin-left: 40px; color:#ffffff;">Ride for Business</p></a>
          <a href=""><p style="margin-top:10px; margin-left: 40px; color:#ffffff;">Ride for Commercial use</p></a>
          
        </div>

        <div class="col-md-2"> 
            <div class="foottitle2">
                <center>Patient Info</center>
             </div>

             <a href=""><p style="margin-top:20px; margin-left: 47px; color:#ffffff;">Hire a Truck</p></a>
             <a href=""><p style="margin-top:10px; margin-left: 47px; color:#ffffff;">Hire a Car</p></a>
             <a href=""><p style="margin-top:10px; margin-left: 47px; color:#ffffff;">Pay My Bill</p></a>
        </div>

        <div class="col-md-2"> 
            <div class="foottitle2">
                <center>More on Clenviron</center>
             </div>

             <a href=""><p style="margin-top:20px; margin-left: 13px;  display: block; color:#ffffff;">Blog</p></a>
             <a href=""><p style="margin-top:10px; margin-left: 13px;  display: block; color:#ffffff;">News</p></a>
             <a href=""><p style="margin-top:10px; margin-left: 13px;  display: block; color:#ffffff;">About Clenviron</p></a>
             <a href=""><p style="margin-top:10px; margin-left: 13px;  display: block; color:#ffffff;">Contact Us</p></a>
        </div>
         
        <div class="col-md-1"> 

        </div>
        
    </div>


    <div class=" col-md-12 lastpanel">
      <div class="col-md-2 last1">
         <center>Clenviron&copy;2019</center>
      </div>

      <div class="col-md-2 last1">
          <center><a href=""> Login</a></center>
      </div>

      <div class="col-md-2 last1">
          <center><a href=""> Privacy Policy</a></center>
       </div>

       <div class="col-md-4 hidden-xs last2">
          <a href=""><img src="img/g327.png"></a>
          <a href=""><img style="margin-left:20px;" src="img/g457.png"></a>
          <a href=""><img style="margin-left:20px;" src="img/g820.png"></a>
       </div>

       <div class="col-md-2 hidden-lg last2">
        <center> <a style="display:inline-block;" href=""><img src="img/g327.png"></a>
          <a style="display:inline-block;" href=""><img style="margin-left:20px;" src="img/g457.png"></a>
          <a style="display:inline-block;" href=""><img style="margin-left:20px;" src="img/g820.png"></a></center>
       </div>
    </div>

  </div>
</div>
</body>
{% block scripts%}

{% endblock%}
</html>