{% extends 'Home/signbase.html'%}
{% load static from staticfiles%}
{% block scripts%}
<script src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript">
    $("#id_vehicl").unbind().change(function () {
      var url = $("#vehicleForm").attr("data-veh-url");  // get the url of the `load_cities` view
      var Vehicle_tag = $(this).val();  // get the selected country ID from the HTML input
      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'Vehicle': Vehicle_tag       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_brand").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
    $("#id_vehic2").unbind().change(function () {
      var url = $("#vehicleForm2").attr("data-veh-url");  // get the url of the `load_cities` view
      var Vehicle_tag = $(this).val();  // get the selected country ID from the HTML input
      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'Vehicle': Vehicle_tag       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_brand2").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });

    $("#id_brand").change(function () {
      var url = $("#BrandForm").attr("data-model-url");  // get the url of the `load_cities` view
      var brand_tag = $(this).val();
      var vehicle= $(".brand_c").attr("data-vehicle");  // get the selected country ID from the HTML input
      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'brand_tag': brand_tag,
          'vehicle':vehicle,       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_model").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });
      

    });
    $("#id_brand2").change(function () {
      var url = $("#BrandForm2").attr("data-model-url");  // get the url of the `load_cities` view
      var brand_tag = $(this).val();
      var vehicle= $(".brand_c").attr("data-vehicle");  // get the selected country ID from the HTML input
      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'brand_tag': brand_tag,
          'vehicle':vehicle,       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_model2").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });
      

    });
    var frm=$("#carform");
    frm.submit(function(){
      $.ajax({
        data:$(this).serialize(),
        type:$(this).attr('method'),
        url: $(this).attr('action'),
        success: function(data){
          // $('.complete_box').show()
          $('.complete').html(data)

        }
      });
      return false;
    });
    var frm2=$("#carform2");
    frm2.submit(function(){
      $.ajax({
        data:$(this).serialize(),
        type:$(this).attr('method'),
        url: $(this).attr('action'),
        success: function(data){
          // $('.complete_box').show()
          $('.complete2').html(data)

        }
      });
      return false;
    });
    var basic=$("#basic-info");
    basic.submit(function(){
      $.ajax({
        data:$(this).serialize(),
        type:$(this).attr('method'),
        url: $(this).attr('action'),
        success: function(data){
          // $('.complete_box').show()
          alert(data)

        }
      });
      return false;
    });
    var contact=$("#contact-info");
    contact.submit(function(){
      $.ajax({
        data:$(this).serialize(),
        type:$(this).attr('method'),
        url: $(this).attr('action'),
        success: function(data){
          // $('.complete_box').show()
          alert(data)

        }
      });

      return false;
    });
    var basic2=$("#basic-info2");
    basic2.submit(function(){
      $.ajax({
        data:$(this).serialize(),
        type:$(this).attr('method'),
        url: $(this).attr('action'),
        success: function(data){
          // $('.complete_box').show()
          alert(data)

        }
      });
      return false;
    });
    var contact2=$("#contact-info2");
    contact2.submit(function(){
      $.ajax({
        data:$(this).serialize(),
        type:$(this).attr('method'),
        url: $(this).attr('action'),
        success: function(data){
          // $('.complete_box').show()
          alert(data)

        }
      });

      return false;
    });

  let openav = ()=>{
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("mySidenav").style.display = "block";
  }; 
  let closeNav= ()=>{
    document.getElementById("mySidenav").style.width = "0px";
    document.getElementById("mySidenav").style.display = "none";
  } ;
</script>
{% endblock %}
{% block content%}
<div class="hidden-xs hidden-sm">
    <div class=" col-md-2 tab">
        <div class="profilename">
            <p>{{user.last_name}} {{user.first_name}}</p>
        </div>
        <div class="profilebox">
            <img class="img-responsive" src="{{user.picture.url}}">
        </div>
        <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#dashboard-tab"><button style="font-family:'Heebo', sans-serif; margin-top:20px;" class="tablinks" onclick="openCity(event, 'Paris')"><i style="padding-right:20px;" class="la la-tachometer"></i>Dashboard</button></a></li>
        <li><a data-toggle="tab" href="#profile-tab"><button style=" font-family:'Heebo', sans-serif; " class="tablinks"><i style="padding-right:20px;"class="la la-user"></i>Pofile</button></a></li>
        <!--<li><a><button style="font-family:'Heebo', sans-serif;" class="tablinks" ><i style="padding-right:20px;" class="la la-map-o"></i>Map</button></a></li>-->
        <li><a data-toggle="tab" href="#setting-tab" ><button style="font-family:'Heebo', sans-serif;" class="tablinks" ><i style="padding-right:20px;" class="la la-wrench"></i>Settings</button></a></li>
        <li><a><button style="font-family:'Heebo', sans-serif;" class="tablinks" ><i  style="padding-right:20px;" class="la la-sign-out"></i>logOut</button></a></li>
        </ul>
    </div>


    <div class="col-md-10 tab-content col-md-push-2" style="overflow-x:hidden;">
        <div id="dashboard-tab" class="tab-pane fade in active col-md-12">
          <div class="container firstdash">
              <div class="row">
                  <div class="col-md-12">
                      <div class="col-md-3">
                          <div class="dashimage quickhire">
                               <span style=" color: #ffffff;" class="glyphicon glyphsethings glyphicon-heart"></span>
                          <div class="dashtext">
                              <h3 style="font-family:'Heebo', sans-serif; padding-top: 10px;">Favourite</h3>
                          </div>
          
                          <div class="dashcontent">
                              <h1 style=" color: #ffffff;">{{rent_count}}</h1>
                          </div>
                          </div>
                      </div>
          

                      <div class="col-md-3 col-xs-6">
                          <div class="dashimage1 quickhire">
                              <span style=" color: #ffffff;" class="glyphicon glyphsethings glyphicon-eye-open"></span>
                              <div class="dashtext">
                                  <h3 style="font-family:'Heebo', sans-serif; padding-top: 10px">Views</h3>
                              </div>
          
                              <div class="dashcontent">
                                  <h1 style=" color: #ffffff;">{{rent_count}}</h1>
                              </div>
                          </div>
                      </div>
          
                      <div class="col-md-3 col-xs-6">
                          <div class="dashimage2 quickhire">
                                   <span style=" color: #ffffff;" class="glyphicon glyphsethings glyphicon-ok-circle"></span>
                          <div class="dashtext">
                              <h3 style="font-family:'Heebo', sans-serif; padding-top: 10px">Orders</h3>
                          </div>
          
                          <div class="dashcontent">
                              <h1 style=" color: #ffffff;">{{orders}}</h1>
                          </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="col-md-9">
                          <center><p class="quicksearch">QUICK SEARCH</p></center> 
                        <form action="{% url 'load_auto' %}" id="carform" method="post" enctype="multipart/form-data" novalidate>
                                        {% csrf_token%}
            
            <div id="vehicleForm" class="form-group dashform" data-veh-url="{% url 'load_brand'%}">
            <label>Vehicle Type</label>
            <select class="form-control" id="id_vehicl" name="vehicle" required>
                <option>----------</option>
                {% for veh in vehic%}
                <option value="{{veh.tag}}">{{veh.tag}}</option>
                {% endfor %}
            </select>
            </div>
          
            <div id="BrandForm" class="form-group dashform1" data-model-url="{% url 'load_model' %}">
                <label>Brand</label>
                <div>   
                    <select class="form-control" id="id_brand" name="Brand" required>
                        
                    </select>
                </div>
            </div>
          

            <div class="form-group dashform1">
            <label>Model</label>
            <select class="form-control" id="id_model" name="Model">
                <option></option>
            </select>
            </div>
                            <button type="submit" style="border-radius: 100px;" class="btn btn-danger">View</button>
                        </form>
                      </div>
          
                      <div class="col-md-3">
                          
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="complete">
    
                  </div>
              </div>
          </div>
          

          <div class="container-fluid seconddash">
              <div class="row dashmarg">
                  <div class="col-md-12">
                      <div class="col-md-4 notification">
                         <div class="compeletdash quickhire">
                              <div class="noteheader">
                              <li style="margin-left:10px;" class="la la-reply"></li><h4>Previous Transactions</h4>
                              </div>
                          {% for ren in rent%}
                          <div class="dash-cont">
                              <h5 style="margin-left:10px;">{{ren.Automobile.Brands}} {{ren.Automobile.Model}} </h5>
                              <h5 style="margin-left:10px;">Hired On: {{ren.pickup_date.date}} <span class="glyphicon glyphok glyphicon-arrow-left"></span></h5>
                              <h5 style="margin-left:10px;">Returned On: {{ren.return_date.date}}<span class="glyphicon glyphfail glyphicon-arrow-right"></span></h5>
                          </div>
                          {% endfor%}
                         </div> 
                      </div>
          
                      <div class="col-md-4 ">
                          <div class="compeletdash quickhire">
                              <div class="noteheader">
                                  <li style="margin-left:10px;" class="la la-exclamation"></li><h4>New in</h4>
                              </div>
          
                              <div class="dash-cont">
                                <h5 style="margin-left:10px;display:inline-block" class="h5-set">Toyota avensis 2017</h5><button style="display:inline-block"  class="btn btn-danger">view</button>
                              </div>
                          </div>
                      </div>         
          
                      <div class="col-md-4 notification">
                          <div class="compeletdash quickhire">
                              <div class="noteheader">
                                  <li style="margin-left:10px;" class="la la-bell"></li><h4>Notification</h4>
                              </div>
                          <div class="dash-cont">
                              <h5 style="margin-left:10px;">Your last car Hire, is almost due.</h5>
                          </div>
          
                          <div class="dash-cont">
                              <h5 style="margin-left:10px;">Your last car Hire, is almost due.</h5>
                          </div>
          
                          <div class="dash-cont">
                              <h5 style="margin-left:10px;">Your last car Hire, is almost due.</h5>
                          </div>
          
                          <div class="dash-cont">
                              <h5 style="margin-left:10px;">Your last car Hire, is almost due.</h5>
                          </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

        </div>

        <div id="profile-tab" class="tab-pane fade in col-md-12">
            <div class="col-md-12 profile1">
                <div class="newprofile">
                    <img src="{{user.picture.url}}" >
                </div>

                <div class="newbody">
                    <div class="newdash">
                        <p style="font-family:'Heebo', sans-serif; padding-top:10px; padding-Left:20px; margin-top: 40px;"><i style="padding-right:10px;"class="la la-user"></i>Basic Info</p>
                    </div>

                    <p style="font-family: 'Heebo', sans-serif; padding-left: 20px; margin-top: 20px; display:block; " >FIRST-NAME: {{user.first_name}}</p>
                    <p style="font-family: 'Heebo', sans-serif; padding-left: 20px; margin-top: 20px; display:block; " >LAST-NAME: {{user.last_name}}</p>
                </div>

                <div class="newbody">
                    <div class="newdash">
                        <p style="font-family:'Heebo', sans-serif; padding-top:10px; padding-Left:20px; margin-top: 40px;"><i style="padding-right:10px;"class="la la-exchange"></i>Contact</p>
                    </div>
                    <p style="font-family: 'Heebo', sans-serif; padding-left: 20px; margin-top: 20px; display:block;" >ADDRESS: {{user.address}}.</p>
                    <p style="font-family: 'Heebo', sans-serif; padding-left: 20px; margin-top: 20px; display:block; " >MOBILE: {{user.phone}}</p>
                    <p style="font-family: 'Heebo', sans-serif; padding-left: 20px; margin-top: 20px; display:block; " >EMAIL: {{user.email}}</p>
                </div>
            </div>
    
        </div>
                <div id="setting-tab" class="tab-pane fade in col-md-12">
            <div class="col-md-11 profile1">
              <div class="newdash">
                  <p style="font-family:'Heebo', sans-serif; padding-top:10px; padding-Left:20px;"><i style="padding-right:10px;"class="la la-user"></i>Basic Info</p>
              </div>
                <form id="basic-info" class="form-horizontal" method="post" action="{% url 'basic_update' %}">
                  {% csrf_token%}
                <div class="form-group">
                  <label>Firstname</label>
                    <input style="margin-top:30px; width:900px; margin-left:30px; " class="form-control" name="firstname" type="text" value="{{user.first_name}}" />
                  </div>
                  <div class="form-group">
                    <label>Lastname</label>
                    <input style="margin-top:30px; width:900px; margin-left:30px; " class="form-control" type="text" name="lastname" value="{{user.last_name}}" />
                  </div>
                    
                
                  <center><button type="submit" style="width:500px; height: 40px; margin-top: 30px; margin-bottom: 40px;" class="btn btn-danger">Save Changes</button></center>
                </form>
            </div>

            <div class="col-md-11 profile1">
                <div class="newdash">
                    <p style="font-family:'Heebo', sans-serif; padding-top:10px; padding-Left:20px;"><i style="padding-right:10px;" class="la la-exchange"></i>Contact</p>
                </div>
                <form id="contact-info" class="form-horizontal" method="post" action="{% url 'contact_update' %}" >
                  {%csrf_token%}
                <div class="form-group">
                  <label>Address</label>
                    <input style="margin-top:30px; width:900px; margin-left:30px; " class="form-control" name="address" type="text" value="{{user.address}}" />
                    <label>Phone Number</label>
                    <input style="margin-top:30px; width:900px; margin-left:30px; " class="form-control" name="phone" type="text" value="{{user.phone}}" />
                    
                </div>
                  <center><button style="width:500px; height: 40px; margin-top: 30px; margin-bottom: 40px;" type="submit" class="btn btn-danger">Save Changes</button></center>
                </form>
            </div>

            <div class="col-md-11 profile1">
                <div class="newdash">
                    <p style="font-family:'Heebo', sans-serif; padding-top:10px; padding-Left:20px;"><i style="padding-right:10px;" class="la la-key"></i>Change Password</p>
                </div>
                    <form>
                        <div class="form-group">
                            <input style="margin-top:30px; width:900px; margin-left:30px; " class="form-control" type="Password" placeholder="Current Passowrd" />
                            <input style="margin-top:30px; width:900px; margin-left:30px; " class="form-control" type="Password" placeholder="New Passowrd" />
                            <input style="margin-top:30px; width:900px; margin-left:30px; " class="form-control" type="Password" placeholder="Confirm Password" />
                        </div>
                        <center><button style="width:500px; height: 40px; margin-top: 30px; margin-bottom: 40px;" class="btn btn-danger">Save Changes</button></center>  
                    </form>
            </div>

      

        </div> 

  
    </div>

</div>


<div class=" hidden-md hidden-lg">
<div class="container-fluid">
    <div id="mySidenav" class="sidenav">
      <div class="" style="padding-top:50px;" >
        <div class="profilename">
            <p>{{user.last_name}} {{user.first_name}}</p>
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        </div>
        <div class="profilebox ">
            <img class="img-responsive center" src="{{user.picture.url}}">
        </div>
        <ul class="nav nav-tabs center">
        <li class="active"><a data-toggle="tab" href="#dashboard-tab-mo"><button style="font-family:'Heebo', sans-serif; margin-top:20px;" class="tablinks" onclick="openCity(event, 'Paris')"><i style="padding-right:20px;" class="la la-tachometer"></i>Dashboard</button></a></li>
        <li><a data-toggle="tab" href="#profile-tab-mo"><button style=" font-family:'Heebo', sans-serif; " class="tablinks"><i style="padding-right:20px;"class="la la-user"></i>Pofile</button></a></li>
        <!--<li><a><button style="font-family:'Heebo', sans-serif;" class="tablinks" ><i style="padding-right:20px;" class="la la-map-o"></i>Map</button></a></li>-->
        <li><a data-toggle="tab" href="#setting-tab-mo" ><button style="font-family:'Heebo', sans-serif;" class="tablinks" ><i style="padding-right:20px;" class="la la-wrench"></i>Settings</button></a></li>
        <li><a><button style="font-family:'Heebo', sans-serif;" class="tablinks" ><i  style="padding-right:20px;" class="la la-sign-out"></i>logOut</button></a></li>
        </ul> 
      </div>
       
    </div>


    <div class="row adheaders navbar-fixed-top">
        <div class="col-sm-12 ">
            <div class="col-sm-6 col-xs-1">
            <a href="javascript:void(0)" class="closebtn" onclick="openav()">
              <i  style="color:#fff" class="glyphicon glyphicon-menu-hamburger"></i>
            </a>
             
            </div>
            
                       
            <div class="col-sm-6 col-xs-10">
              <div class="adlinks">
              <p class="text-danger">Welcome</p>
              <p class="text-danger">{{request.user.username}} </p>/
              <a class="text-light"href="{% url 'index' %}">Home</a>/
              <a class="text-light"href="{% url 'logout' %}">Logout</a>
              </div>
            </div>                
        </div>
    </div>
</div>
<div class="tab-content center" style="padding-top:70px" onclick="closeNav()">
    <div id="profile-tab-mo" style="padding-top:20px;" class="tab-pane fade ">
        <div class="col-md-12">
            <div class="profile2">
                <div class="newprofile1">
                    <img src="{{user.picture.url}}" >
                </div>

                <div class="newbody">
                    <div class="newdash">
                        <p style="font-family:'Heebo', sans-serif; padding-top:10px; padding-Left:20px; margin-top: 40px;"><i style="padding-right:10px;"class="la la-user"></i>Basic Info</p>
                    </div>

                    <p style="font-family: 'Heebo', sans-serif; padding-left: 20px; margin-top: 20px; display:block; " >FIRST-NAME: {{user.first_name}}</p>
                    <p style="font-family: 'Heebo', sans-serif; padding-left: 20px; margin-top: 20px; display:block; " >LAST-NAME: {{user.last_name}}</p>
                </div>

                <div class="newbody">
                    <div class="newdash">
                        <p style="font-family:'Heebo', sans-serif; padding-top:10px; padding-Left:20px; margin-top: 40px;"><i style="padding-right:10px;"class="la la-exchange"></i>Contact</p>
                    </div>
                    <p style="font-family: 'Heebo', sans-serif; padding-left: 20px; margin-top: 20px; display:block;" >ADDRESS: {{user.address}} </p>
                    <p style="font-family: 'Heebo', sans-serif; padding-left: 20px; margin-top: 20px; display:block; " >MOBILE: {{user.phone}}</p>
                    <p style="font-family: 'Heebo', sans-serif; padding-left: 20px; margin-top: 20px; display:block; " >EMAIL: {{user.email}}</p>
                </div>
            </div>

        </div>
    </div>
  <div id="setting-tab-mo" class="tab-pane fade">
            <div class="col-md-11 profile1">
              <div class="newdash">
                  <p style="font-family:'Heebo', sans-serif; padding-top:10px; padding-Left:20px;"><i style="padding-right:10px;"class="la la-user"></i>Basic Info</p>
              </div>
                <form id="basic-info2" class="form-horizontal" method="post" action="{% url 'basic_update' %}">
                  {% csrf_token%}
                <div class="form-group col-md-12">
                  <label>Firstname</label>
                    <input style=" " class="form-control" name="firstname" type="text" value="{{user.first_name}}" />
                  </div>
                  <div class="form-group col-md-12">
                    <label>Lastname</label>
                    <input style="" class="form-control" type="text" name="lastname" value="{{user.last_name}}" />
                  </div>
                    
                
                  <center><button type="submit" style="width:90%; height: 40px; margin-top: 30px; margin-bottom: 40px;" class="btn btn-danger">Save Changes</button></center>
                </form>
            </div>

            <div class="col-md-11 profile1">
                <div class="newdash">
                    <p style="font-family:'Heebo', sans-serif; padding-top:10px; padding-Left:20px;"><i style="padding-right:10px;" class="la la-exchange"></i>Contact</p>
                </div>
                <form id="contact-info2" class="form-horizontal" method="post" action="{% url 'contact_update' %}" >
                  {%csrf_token%}
                <div class="form-group col-md-12">
                  <label>Address</label>
                    <input  class="form-control" name="address" type="text" value="{{user.address}}" />
                    <label>Phone Number</label>
                    <input  class="form-control" name="phone" type="text" value="{{user.phone}}" />
                    
                </div>
                  <center><button style="width:90%; height: 40px; margin-top: 30px; margin-bottom: 40px;" type="submit" class="btn btn-danger">Save Changes</button></center>
                </form>
            </div>

      <!--<div class="col-md-11 profile1">
          <div class="newdash">
              <p style="font-family:'Heebo', sans-serif; padding-top:10px; padding-Left:20px;"><i style="padding-right:10px;" class="la la-key"></i>Change Password</p>
          </div>
              <form>
                  <div class="form-group">
                      <input style="margin-top:30px; width:390px; margin-left:30px; " class="form-control" type="Password" placeholder="Current Passowrd" />
                      <input style="margin-top:30px; width:390px; margin-left:30px; " class="form-control" type="Password" placeholder="New Passowrd" />
                      <input style="margin-top:30px; width:390px; margin-left:30px; margin-bottom: 50px; " class="form-control" type="Password" placeholder="Confirm Password" />
                  </div>
               <center><button style="width:400px; height: 40px; margin-top: 30px; margin-bottom: 40px;" class="btn btn-danger">Save Changes</button></center>   
              </form>
      </div>-->
      
  </div>    
    <div id="dashboard-tab-mo"  class="tab-pane fade in active">
        <div class="container firstdash">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3 col-xs-6">
                        <div class="dashimage quickhire">
                             <span style=" color: #ffffff;" class="glyphicon glyphsethings glyphicon-heart"></span>
                        <div class="dashtext">
                            <h3 style="font-family:'Heebo', sans-serif; padding-top: 10px;">Favourite</h3>
                        </div>
        
                        <div class="dashcontent">
                            <h1 style=" color: #ffffff;">{{rent_count}}</h1>
                        </div>
                        </div>
                    </div>
        
                    <div class="col-md-3 col-xs-6">
                        <div class="dashimage1 quickhire">
                            <span style=" color: #ffffff;" class="glyphicon glyphsethings glyphicon-eye-open"></span>
                            <div class="dashtext">
                                <h3 style="font-family:'Heebo', sans-serif; padding-top: 10px">Views</h3>
                            </div>
        
                            <div class="dashcontent">
                                <h1 style=" color: #ffffff;">{{rent_count}}</h1>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-md-3 col-xs-6">
                        <div class="dashimage2 quickhire">
                                 <span style=" color: #ffffff;" class="glyphicon glyphsethings glyphicon-ok-circle"></span>
                        <div class="dashtext">
                            <h3 style="font-family:'Heebo', sans-serif; padding-top: 10px">Orders</h3>
                        </div>
        
                        <div class="dashcontent">
                            <h1 style=" color: #ffffff;">{{orders}}</h1>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
</div>

<div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="col-md-9">
                          <center><p class="quicksearch">QUICK SEARCH</p></center> 
                        <form action="{% url 'load_auto' %}" id="carform2" method="post" enctype="multipart/form-data" novalidate>
                                        {% csrf_token%}
            
            <div id="vehicleForm2" class="form-group dashform" data-veh-url="{% url 'load_brand'%}">
            <label>Vehicle Type</label>
            <select class="form-control" id="id_vehic2" name="vehicle" required>
                <option>----------</option>
                {% for veh in vehic%}
                <option value="{{veh.tag}}">{{veh.tag}}</option>
                {% endfor %}
            </select>
            </div>
          
            <div id="BrandForm2" class="form-group dashform1" data-model-url="{% url 'load_model' %}">
                <label>Brand</label>
                <div>   
                    <select class="form-control" id="id_brand2" name="Brand" required>
                        
                    </select>
                </div>
            </div>
          

            <div class="form-group dashform1">
            <label>Model</label>
            <select class="form-control" id="id_model2" name="Model">
                <option></option>
            </select>
            </div>
                            <button type="submit" style="border-radius: 100px;" class="btn btn-danger">View</button>
                        </form>
                      </div>
          
                      <div class="col-md-3">
                          
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="complete2">
    
                  </div>
              </div>
</div>

<div class="container-fluid seconddash">
        <div class="row dashmarg">
            <div class="col-md-12">
                <div class="col-md-3 notification">
                   <div class="compeletdash quickhire">
                        <div class="noteheader">
                        <li style="margin-left:10px;" class="la la-reply"></li><h4>Previous Transactions</h4>
                        </div>
    
                   {% for ren in rent%}
                          <div class="dash-cont">
                              <h5 style="margin-left:10px;">{{ren.Automobile.Brands}} {{ren.Automobile.Model}} </h5>
                              <h5 style="margin-left:10px;">Hired On: {{ren.pickup_date.date}} <span class="glyphicon glyphok glyphicon-arrow-left"></span></h5>
                              <h5 style="margin-left:10px;">Returned On: {{ren.return_date.date}}<span class="glyphicon glyphfail glyphicon-arrow-right"></span></h5>
                          </div>
                  {% endfor%}
                </div>
    
                <div class="col-md-3 ">
                    <div class="compeletdash quickhire">
                             <div class="noteheader">
                            <li style="margin-left:10px;" class="la la-exclamation"></li><h4>New in</h4>
                        </div>
    
                        <div class="dash-cont">
                          <h5 style="margin-left:10px;" class="h5-set">Toyota avensis 2017</h5><button style="margin-right:10px;"  class="btn btn-danger">view</button>
                        </div>
    
                        <div class="dash-cont">
                            <h5 style="margin-left:10px;" class="h5-set">Benz G-Class</h5><button style="margin-right:10px;" class="btn btn-danger">view</button>
                        </div>
    
                         <div class="dash-cont">
                            <h5 style="margin-left:10px;" class="h5-set">Benz G-Class</h5><button style="margin-right:10px;" class="btn btn-danger">view</button>
                        </div>
    
                         <div class="dash-cont">
                            <h5 style="margin-left:10px;" class="h5-set">Benz G-Class</h5><button style="margin-right:10px;" class="btn btn-danger">view</button>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-3 ">
                   <div class="compeletdash quickhire">
                       <div class="noteheader">
                            <li style="margin-left:10px;" class="la la-bell"></li><h4>Notification</h4>
                        </div>
    
                        <div class="dash-cont">
                        <h5 style="margin-left:10px;">Your last car Hire, is almost due.</h5>
                        </div>
                   </div>
                </div>
    
    
                <div class="col-md-3 notification">
                    <div class="compeletdash quickhire">
                        <div class="noteheader">
                            <li style="margin-left:10px;" class="la la-bell"></li><h4>Notification</h4>
                        </div>
                    <div class="dash-cont">
                        <h5 style="margin-left:10px;">Your last car Hire, is almost due.</h5>
                    </div>
    
                    <div class="dash-cont">
                        <h5 style="margin-left:10px;">Your last car Hire, is hey almost due.</h5>
                    </div>
    
                    <div class="dash-cont">
                        <h5 style="margin-left:10px;">Your last car Hire, is almost due.</h5>
                    </div>
    
                    <div class="dash-cont">
                        <h5 style="margin-left:10px;">Your last car Hire, is almost due.</h5>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>


</div>


</div>

    {% endblock%}