{% extends 'Home/signbase.html'%}

{% block content%}
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                        
            </div>
                        
            <div class="col-md-4">
                <center><div class="adheader"><p>SOAR ADMIN</p></div></center>
                <center><p>CARS AVAILABLE</p></center>
            </div>
                        
            <div class="col-md-4">
                        
            </div>                
        </div>
    </div>
</div>

<div class="container-fluid justa">
    <div class="row">
        <div class="col-md-8">
            <div class="col-md-4">
                <div class="cf">
                    <img class="bottom" src="img/benzolin.jpg" />
                    <img class="top" src="img/suvback.jpg" />
                </div>
                <div class="carname">
                    <p>Benz C-class 2010/2019</p>
                </div>
                <div class="carname">
                    <p>#20,000</p>
                </div>
                <center><button type="button" class="btn carbutton btn-danger" data-toggle="modal" data-target="#exampleModalLong">Edit</button></center>
                <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <p class="modal-title" id="exampleModalLongTitle">Benz C-class 2010/2019</p>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group adminform">
                                            <center><label>Quantity</label></center>
                                            <select class="form-control">
                                                <option></option>
                                                <option>Available</option>
                                                <option>Non</option>
                                               
                                            </select>
                                    </div>

                                    <div class="form-group">
                                        <center><label>Price</label></center>
                                        <input class="form-control" type="text" placeholder="#20,000">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Remove</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                            </div>
                        </div>
                        </div>
                </div>
            </div>

            <div class="col-md-4">
                    <div class="cf">
                        <img class="bottom" src="img/toyota.jpg" />
                        <img class="top" src="img/toyotaback.jpg" />
                    </div>
                    <div class="carname">
                        <p>Benz C-class 2010/2019</p>
                    </div>
                    <div class="carname">
                        <p>#20,000</p>
                    </div>
    
                    <center><button type="button" class="btn carbutton btn-danger" data-toggle="modal" data-target="#exampleModalLong">Edit</button></center>
                    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <p class="modal-title" id="exampleModalLongTitle">Benz C-class 2010/2019</p>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group adminform">
                                                <center><label>Quantity</label></center>
                                                <select class="form-control">
                                                    <option></option>
                                                    <option>Available</option>
                                                    <option>Non</option>
                                                   
                                                </select>
                                        </div>

                                        <div class="form-group">
                                            <center><label>Price</label></center>
                                            <input class="form-control" type="text" placeholder="#20,000">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Remove</button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                                </div>
                            </div>
                            </div>
                    </div>
            </div>

            <div class="col-md-4">
                    <div class="cf">
                        <img class="bottom" src="img/whitpickup.jpg" />
                        <img class="top" src="img/pickupback.jpg" />
                    </div>
                    <div class="carname">
                        <p>Benz C-class 2010/2019</p>
                    </div>
                    <div class="carname">
                        <p>#20,000</p>
                    </div>
    
                    <center><button type="button" class="btn carbutton btn-danger" data-toggle="modal" data-target="#exampleModalLong">Edit</button></center>
                     <!-- Modal -->
                    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <p class="modal-title" id="exampleModalLongTitle">Benz C-class 2010/2019</p>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group adminform">
                                                <center><label>Quantity</label></center>
                                                <select class="form-control">
                                                    <option></option>
                                                    <option>Available</option>
                                                    <option>Non</option>
                                                   
                                                </select>
                                        </div>

                                        <div class="form-group">
                                            <center><label>Price</label></center>
                                            <input class="form-control" type="text" placeholder="#20,000">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Remove</button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                                </div>
                            </div>
                            </div>
                    </div>
            </div>
        </div>
    </div>
</div>

</body>
{% endblock%}